<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

    <ul>
        <li th:each="dto : ${list}" th:text="${dto.sno}+' | '+${dto.first}+' | '+${dto.regtime}"></li>
        <li th:each="dto : ${list}">
        [[${#numbers.formatInteger(dto.sno,5)}]]  <!-- 5글자로 숫자 고정해서 출력. 00001 이런식-->
        </li>
        <li th:each="dto : ${list}">
            [[${dto.sno}]] -- [[${  dto.regtime  }]] -- [[${#temporals.format(dto.regtime,'yyyy/MM/dd')}]]
            <!--  날짜 출력형식 바꾸기 -->
        </li>
    </ul>
</body>
</html>